body {
    background: radial-gradient(circle, #ffffff, #f5f5dc);    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 2rem;
    color: black;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #150355; 
    text-shadow: 2px 2px 0px rgba(0,0,0,0.1);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    height: 72px;
    background: #ddddbc;
    font-size: 15px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: black;
}

i {
    margin-left: 7px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 32px;
    padding: 20px;
    flex: 1;
}

.card {
    background: #ddddbc;     
    cursor: pointer;         
    appearance: none;        
    border: 1px solid black;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    display: flex;
    border-radius: 4px;
    padding: 10px;
    transition: all 0.3s ease;
    font-size: 200px;
    justify-content: center;
    align-items: center;
    max-height: 250px;
}

.card:hover {
    box-shadow: 4px 4px 16px rgba(21, 3, 85, 0.3);
    transform: translateY(-2.75px) scale(1.05);
}

.card:active {
    /* Reset the lift effect and shrink slightly to simulate pressure */
    transform: translateY(0) scale(0.98);
    
    /* Reduce shadow size to make it look closer to the background */
    box-shadow: 1px 2px 4px rgba(0,0,0,.1);
    
    /* Optional: Quick color change to confirm the click */
    background-color: #f0f0f0; 
}